// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f1f1f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #666666;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$red: #c0392b;
$green: #27ae60;
$blue: #2980b9;
$dark: #2c3e50;

$body-bg: $gray-200;
$body-color: $gray-600;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Lato", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Fjalla One", sans-serif;
$headings-font-weight: 400;

// Navbar
$navbar-padding-y: 15px;

// Cards
$card-spacer-x: 2rem 3rem;
$card-border-width: 0;
$card-border-radius: 0 0 3px 3px;
$card-border-color: transparent;
$card-inner-border-radius: 0;
$card-cap-bg: $red;
