@import "../config/scss/colors.scss";
@import "../config/scss/bootstrap.variables.scss";
@import "../config/scss/pretty-checkbox.variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/pretty-checkbox/src/pretty-checkbox.scss";

.navbar {
  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-size: 24px;
  }
  .dropdown-toggle {
    color: white; // change switcher color to white
  }
  .user-profile {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background: $green;
    color: $white;
  }
}

.header {
  h1 {
    color: $primary;
  }
  h5 {
    color: #999999;
  }
}

.alert {
  width: 25rem;
  margin: 5px auto;
}
.app-content {
  .card {
    width: 25rem;
    height: 25rem;
    font-size: 0.9rem;
    line-height: 1.7;
    border-color: transparent;
    border-top: 6px solid $red;
    margin-top: 10px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.item {
  position: relative;
  font-size: 0.85rem;
  padding-bottom: 5px;

  .delete-item {
    position: absolute;
    right: 0;
    top: 0;
    color: $light;
    cursor: pointer;

    &:hover {
      color: $red;
      font-weight: bold;
    }
  }
}
.item-completed {
  .pretty .state label {
    color: $light;
    text-decoration: line-through;
    transition: all 0.3s ease;
    &:before {
      border-color: $light !important;
      transition: all 0.3s ease;
    }
  }
  .pretty input:checked ~ .state label:after {
    background-color: $light !important;
    transition: all 0.3s ease;
  }
}

.btn-footer {
  position: absolute;
  bottom: 2rem;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  left: calc(50% - 4rem);
}
